@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}


/* body {
  max-width: 1440px;
} */
.grid-container {
  padding: 0px 0px;
}

.text-spacing {
  line-height: 1.6;
}

.community {
  padding: 0px 0px;
}

.subscription {
  /* padding: 0px 0px; */
  overflow: hidden;
  /* border-style: dotted; */
}

.why-us {
  /* padding:  0px 0px; */
  overflow: hidden;
  /* height: auto; */
  /* border-style: dotted; */
}

.sighnUp-button {
  display: inline-block;
  width: 250px;
  height: 50px;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 650px) {
  .grid-container {
    display: grid;
    /* width: 650px; */
    /* width: 100%; */
    max-width: 650px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 660px; */
    margin: 0 auto;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
      0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    overflow: hidden;
    
  }
  .grid-container > div {
    padding: 40px;
  }

  .community {
    grid-column: 1/3;
  }
}

/* 
.subscription {
  width: 100%;
}

.why-us {
  width: 100%;
} */

.community-font {
  font-size: 24px;
  font-weight: bold;
}

.dollar-amt {
  font-size: 25px;
}

.span-per-month {
  /* margin-bottom: 20px; */
  /* padding-bottom: 20px; */
  /* padding-top: 20px;
  margin-top: 20px; */

  /* border-style: solid; */
  /* vertical-align: middle; */

  /* text-align: center; */
  display: flex;
  align-items: center;
}



.color-cyan {
  color: hsl(179, 62%, 43%);
}

.color-white {
  color: white;
}

.bg-color-cyan {
  background-color: hsl(179, 62%, 43%);
}

.bg-color-lt-cyan {
  background-color: hsl(179, 47%, 52%);
}

.color-yellow {
  color: hsl(71, 73%, 54%);
}

.bg-color-yellow {
  background-color: hsl(71, 73%, 54%);
}

.color-gray {
  color: hsl(218, 22%, 67%);
  /* color: hsl(204, 43%, 93%); */
}
.color-lt-gray {
  color: hsl(183, 60%, 80%);
  /* color: hsl(204, 43%, 93%); */
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
